/* Color Palette */

$navy: 		rgba(27, 231, 255, 1);
$blue: 		rgba(13, 45, 108, 1);
$yellow: 	rgba(255, 202, 0, 1);
$gold: 		rgba(232, 170, 20, 1);
$orange: 	rgba(255, 87, 20, 1);

$small: 480px;
$medium: 640px;
$large: 960px;